<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- PBI reports list -->
    <add key="ReportsList" value="AccountReport"/>
    <add key="ReportsList" value="Skill&amp;AnalyticsReports"/>
    <add key="ReportsList" value="xics_ConversationReports"/>
    <add key="ReportsList" value="xics_ConversationReports"/>
    <add key="ReportsList" value="xics_GeneralReports"/>
  </appSettings>
</configuration>